{% extends "index.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <h1>Update Gun: {{ gun.serial_number }}</h1>
          <form action="/update_gun/{{ gun.serial_number }}" method="POST">
          <div class="form-group">
            <p>Type: </p>
              <select name="type" id="type">
                <option value="Pistol" selected="selected">Pistol</option>
                <option value="Rifle" selected="selected">Rifle</option>
                <option value="Shotgun" selected="selected">Shotgun</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="model" class="form-control" value="{{ gun.model }}" placeholder="Model" required>
          </div>
          <div class="form-group">
            <input type="text" name="caliber" value="{{gun.caliber}}" class="form-control" placeholder="Caliber" required>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
            Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
